<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>JS实现轮播图</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="main" id="main">
        <div class="nav" id="nav">
            <ul>
                <li class="changeColor">首页</li>
                <li>点击看看</li>
                <li>会自动的</li>
                <li>我的网站</li>
            </ul>
        </div>
        <div class="banner" id="banner">
            <a href="#">
                <div class="banner-slide slide1"></div>
            </a>
            <a href="#">
                <div class="banner-slide slide2"></div>
            </a>
            <a href="#">
                <div class="banner-slide slide3"></div>
            </a>
            <a href="#">
                <div class="banner-slide slide4"></div>
            </a>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/script.js"></script>
</html>